body {
  font-family: 'Open Sans', sans-serif;
}
h1,
h2,
h3 {
  text-align: center;
}

h1 {
  font-size: 42px;
  font-weight: 600;
  color: #434343;
}

h2 {
  font-size: 26px;
}

h2 span {
  color: #ff5b37;
}

.sec-title {
  margin-bottom: 40px;
  color: #434343;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
}

header {
  padding: 180px 0;
}

.follow-us {
  padding-bottom: 40px;
}

.follow-us p {
  text-align: center;
  font-size: 16px;
}

.follow-us a {
  color: #333;
}

.follow-us p a:hover {
  color: #ff5b37;
}